.container-cards{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px 30px 30px;
}

.container-cards h2{
  margin-bottom: 20px;
}

.cards{
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.cards .card{
  height: 280px;
  width: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card h3{
  font-size: 17px;
}

.card p{
  color: grey;
  font-size: 16px;
  text-align: center;
}

.card img{
  width: 130px;
  height: 100px;
}
